html {
    scroll-behavior: smooth !important;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}


body {
    min-height: 100vh;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


#target-menu > li > a:hover {
    background-color: #646d7c;
    cursor: pointer;
}


#target-menu > li > a {
    padding: 15px 25px;
    width: 100%;
    border-image: initial;
    border-width: 1px;
    border-style: solid;
    border-color: #646d7c;

    color: #fff;
    background-color: #383e4c;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease 0s;
}


#target-menu li {
    text-align: center;
    margin: 15px auto;
    /* border: 2px solid red; */

    flex: auto;
    padding: 10px;
    display: inline-flex;
    list-style-type: none;
}


#target-navbar:hover {
    color: #fff;
    transition: all ease 0.5s;
}


#target-navbar {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;

    /* padding: 10px; */
    /* margin: 8px 15px 8px 0px; */
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 30px;
    transition: all ease 0.3s;
}


#target-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #383e4c;
}


.bg-cover {

    height: 100vh;
    background: rgb(148, 131, 100) url("../assets/bg-1.jpg") no-repeat center / cover;

    position: relative;
    /*
        fixed = parallax
        scroll = normal
    */
    background-attachment: fixed;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-description {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    background: #f2f2f266;
    border-radius: 5px;

}


.form {
    color: #000;
    border-width: initial;
    border-style: none;
    background: #f2f2f266;
    cursor: text;
    display: block;
    margin: 10px 0px 15px;
    width: 100%;
    height: 36px;
    font-size: 14px;
    border-radius: 4px;
    padding: 6px 12px;
    line-height: 1.6;
}


.form-description {
    color: #000;
    border-width: initial;
    border-style: none;
    background: #f2f2f266;
    cursor: text;
    display: block;
    margin: 10px 0px 15px;
    width: 100%;
    font-size: 14px;
    border-radius: 6px;
    padding: 6px 12px;
    line-height: 1.6;

}


.btn-send:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    cursor: pointer;
}


.btn-send {
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
    background: #262628;
    padding: 10px 30px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}


.group-input, .group-input-description {
    padding-left: 0px;
    width: 50%;
    float: left;
    padding-right: 15px;
    margin-bottom: 15px;
}


.group-input-description {
    height: 60%;
}


.contact-description p {
    color: #000;
    font-size: 18px;
    padding: 15px 0px;
    /* margin-bottom: 20px; */
    line-height: 1.6em;
    margin: 0px;

}


.contact-form {
    /* padding: 80px auto 60px; */
    padding-top: 80px;
    padding-bottom: 60px;
    height: 100%;
}


.contact-form > h1 {
    color: #fff;
    margin: 20px 30px;
    text-shadow: #333 2px 2px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
}


.bg-contact {

    height: 100%;
    background: url("../assets/bg-3.jpg") no-repeat center / cover;

    position: relative;
    background-attachment: fixed;

    padding: 80px 0px 60px;

    display: grid;
    justify-content: center;
    align-items: center;
}


.bg-services {

    height: 100%;
    background: url("../assets/bg-2.jpg") no-repeat center / cover;

    position: relative;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}


.bg-text {
    color: #fff;
    line-height: 1.1;
}


.bg-text-services {
    margin: 60px;
}


.bg-text-services h1{
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    text-shadow: 2px 2px #aaa;
    margin: 20px 0px;
}


.bg-text-services > p {
    color: #fff;
    font-size: 18px;
    line-height: 1.6em;
    margin: 0;
}


h4 {
    margin: 10px 0px;
    font-size: 25px;
    text-shadow: rgb(51, 51, 51) 1px 1px;
}


h1, h4 {
    font-weight: 500;
}


h1 {
    font-size: 70px;
    text-shadow: rgb(0, 0, 0) 2px 2px;
    margin: 20px 0px 10px;
}


@media only screen and (max-width: 767px) {
    .bg-text h1 {
        font-size: 56px;
        /* background-color: aqua; */
    }

    h4 {
        font-size: 20px;
    }
}


@media only screen and (min-width: 1080px) {
    .wrapper-section {
        margin: 0 33%;
    }
}


.wrapper {
    padding-top: 70px;
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: repeat(auto-fill ,minmax(200px, 1fr));
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px 20px;
    /* grid-gap: 2px; */

}


.column {
    background: #f2f2f2;
    margin: 0 auto 60px;
    margin-bottom: 30px;
    padding: 0px 15px 25px 15px;
}


.btn-read {
    color: #666;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
}


.second-wrapper {

    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(200px, 2fr));
    grid-template-rows: repeat(3, auto);
    grid-gap: 2px;
}


@media only screen and (min-width: 868px) {
    .wrapper {
        padding-top: 70px;
        display: grid;
        justify-content: center;
        align-items: center;

        grid-template-columns: 300px 300px 300px;
        grid-template-rows: repeat(3, auto);
        grid-gap: 2px;
    }

}


@media only screen and (min-width: 808px) {

    .second-wrapper {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 400px 400px;

        margin: 60px 0px;
        grid-gap: 10px;
    }
}


.content {
    display: block;
    padding: 0px 15px;
    margin: 0px auto;
    padding-bottom: 40px;
    background: rgb(242, 242, 242);
}


img {
    max-width: 100%;
    height: auto;
}


.both-description {
    color: #333;
    margin-bottom: 21px;
    padding: 27px;
    text-align: left;
}


.description {

    text-align: left;
    color: #333;
    margin-top: 15px;
    padding: 0px 20px 35px;
}


body, footer, .text-center {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    text-align: center;
}


p {
    font-size: 14px;
    line-height: 1.6em;
    margin: 0px;
}


.title-blue {
    color: #1686c1;
    margin: 0px 0px 10px;
}


.btn-link:hover, .btn-section:hover {
    background-color: #e6e6e6;
    color: #23527c;
}


.btn-link {
    display: inline-block;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    color: #666;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    margin: 0px auto 10px;
    transition: all 0.3s ease;
}


.wrapper-section {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 15px;

    margin-top: 60px;
}


.content-section p {
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
}


.content-section {
    background-color: #f2f2f2;
    height: 500px;
    max-width: 260px;
    margin: 0 auto 30px;
}


.title-green {
    color: #178a27;
    margin: 20px 0px 10px;
}


.title-both {
    color: #666;
    line-height: 1.1;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0px 10px;
}


.title-blue, .title, .title-green, .title-section {

    line-height: 1.1;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 700;
}


.title {
    color: #666;
    margin: 20px 0px 10px;
}


.btn-green {
    background-color: #178a27;
}


.btn-blue {
    background-color: #1686c1;
}


.btn {
    background-color: #852406;
}


.btn:hover {
    background-color: #c9302c;
}


.btn-blue:hover {
    background-color: #31b0d5;
    /* rgb(35, 82, 124); */
}


.btn-green:hover {
    background-color: rgb(42, 201, 42);
}


.btn, .btn-blue, .btn-green {

    display: grid;
    justify-content: center;

    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 30px;
    transition: all 0.3s ease 0s;
}


.img-responsive {
    max-width: 100%;
    height: auto;

    position: relative;
    background-attachment: fixed;
}


.box-description {
    padding: 30px;
}


.box-description > p {
    font-size: 14px;
    line-height: 1.6em;

}


.bottom-space {
    margin: 0px 0px 10px;
}


.btn-section {
    color: #666;
    display: inline-block;
    font-size: 18px;
    margin-top: 15px;
    background: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: #cdcdcd;
    /* border-image: initial; */
    border-radius: 10px;
    padding: 10px 30px;
    /* text-align: left; */
    text-decoration: none;
    /* transition: all 0.3s ease 0s; */
}


.title-section {
    color: #666;
    margin: 20px 0px 10px;
    padding: 0px 0px;
    /* text-align: left; */
}


.footer-content h1 {

    color: #c9c9d8;
    font-size: 32px;
    margin-top: 60px;
    font-style: italic;
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 1.1;

}


.footer-content p {

    color: #999;
    font-style: italic;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.1;
    width: 100%;
    min-height: 1px;
    padding: 0px 15px;
    margin: 35px 0px 80px 0px;
}


.text-center {
    width: 100%;
    min-height: 1px;
    padding: 0px 15px;
    margin: 10px 0px 30px 0px;

}
